//* * Font Variable *
$font-raleway: 'Raleway',
sans-serif;
$font-poppins: 'Poppins',
sans-serif;
//* * Color Variable *
$black: #131617;
$bg-grey-dark: #F3F3F3;
$color1:#16172e;
$bg-dark:#16172e;
$color2:#2CB2E7;
$bg-dark2:#707070;
$color3:#fff958;
$color4:#ff5860;
$bg-dark3:#3e3e3e;
$color5:#cfcfd324;
$color6:#d4d4d4;